<!-- Page Header-->
<header class="page-head">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar  rd-navbar-default" data-stick-up-clone="true" data-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static"
            data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static"
            data-lg-stick-up-offset="40px">
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                        <span></span>
                    </button>
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                        <a class="brand-name" href="/home" routerLinkActive="active">
                            <span class="brand-logo veil">IFI Solution</span>
                            <img src="assets/images/logo-big.png" width="135" height="50" alt="IFI">
                        </a>
                    </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                        <li class="active"></li>
                        <li>
                            <a href="/why-us" routerLinkActive="active">Why us</a>
                        </li>              
                        <li>
                            <a href="/about-us" routerLinkActive="active">About Us</a>
                            <!-- RD Navbar Dropdown-->
                            <!-- <ul class="rd-navbar-dropdown">
                                <li>
                                    <a href="history.html">History</a>
                                </li>
                                <li>
                                    <a href="our-team.html">Our team</a>
                                </li>
                                <li>
                                    <a href="team-member.html">Team Member</a>
                                </li>
                            </ul> -->
                        </li>
                        <li>
                            <a href="/contact-us" routerLinkActive="active">Contact us</a>
                        </li>
                        <li>
                            <a href="/login" routerLinkActive="active">Login</a>
                        </li>
                        <li>
                            <a href="/admin" routerLinkActive="active">Manager-Admin</a>
                            <!-- RD Navbar Dropdown-->
                            <!-- <ul class="rd-navbar-dropdown">
                                <li>
                                    <a routerLink="/manager-admin" routerLinkActive="active">Manager-Admin</a>
                                </li>
                            </ul> -->
                        </li>     
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>