<section>
  <footer class="page-footer page-footer-default">
    <section class="section-75 section-sm-80 section-md-100 section-lg-top-140">
      <div class="shell container">
        <div class="row">
          <div class="col-lg-6" style="overflow: hidden;">
            <div class="divider-block">
              <h2 class="wow fadeUpSm" data-wow-delay=".4s">Newsletter Signup</h2>
              <h6 class="wow fadeUpSm" data-wow-delay=".6s">Enter your email address to get the latest ArchiTex news, events and special offers delivered right to your
                inbox.</h6>
            </div>
          </div>
          <div class="col-lg-6 col-xxl-5 offset-xxl-1 align-self-lg-end">
            <form class="rd-mailform text-left rd-mailform-subscribe" style="overflow: hidden;" data-form-output="form-output-global"
              data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
              <div class="form-group wow fadeUpSm" data-wow-delay=".4s">
                <label class="form-label form-label-subscribe" for="footer-subscribe-email">Enter your e-mail</label>
                <input class="form-control form-control-subscribe" id="footer-subscribe-email" type="email" name="email" data-constraints="@Email @Required">
              </div>
              <button class="btn btn-primary btn-primary-white wow fadeUpSm" type="submit" data-wow-delay=".6s">subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div class="shell container">
      <hr class="divider divider-mine-shaft">
    </div>
    <section class="section-75 section-sm-80 section-md-100">
      <div class="shell container">
        <div class="row text-sm-left">
          <div class="col-md-6 col-xl-3">
            <span class="small text-spacing-340 text-white text-uppercase text-bold wow fadeUpSm" data-wow-delay=".1s">About company</span>
            <p class="offset-top-20 wow fadeUpSm" data-wow-delay=".3s">We remain true to the same principles on which our company was founded over a hundred years ago: providing superior
              service to our clients, putting safety first, creating opportunities for our people.</p>
          </div>
          <div class="col-md-6 col-xl-3">
            <span class="small text-spacing-340 text-white text-uppercase text-bold wow fadeUpSm" data-wow-delay=".1s">RECENT EVENTS</span>
            <article class="event offset-top-20 wow fadeUpSm" data-wow-delay=".1s">
              <p>
                <a class="text-white" href="blog-post.html">Results of Annual General Meeting</a>
              </p>
              <time class="small offset-top-10" datetime="2016">June 1, 2017</time>
            </article>
            <article class="event offset-top-20 wow fadeUpSm" data-wow-delay=".3s">
              <p>
                <a class="text-white" href="blog-post.html">ArchiTex was awarded with “The Best Construction Company” prize</a>
              </p>
              <time class="small offset-top-10" datetime="2016">June 1, 2017</time>
            </article>
          </div>
          <div class="col-md-6 col-xl-2 col-xxl-3 offset-top-40 offset-lg-top-0">
            <span class="small text-spacing-340 text-white text-uppercase text-bold wow fadeUpSm" data-wow-delay=".1s">INFORMATION</span>
            <ul class="list list-marked offset-top-20 list-xs" style="overflow: hidden;">
              <li class="wow fadeUpSm" data-wow-delay=".1s">
                <a class="text-white" href="about.html">Our company</a>
              </li>
              <li class="wow fadeUpSm" data-wow-delay=".2s">
                <a class="text-white" href="services.html">Our services</a>
              </li>
              <li class="wow fadeUpSm" data-wow-delay=".3s">
                <a class="text-white" href="careers.html">Careers</a>
              </li>
              <li class="wow fadeUpSm" data-wow-delay=".4s">
                <a class="text-white" href="team-member.html">Certifications</a>
              </li>
              <li class="wow fadeUpSm" data-wow-delay=".5s">
                <a class="text-white" href="history.html">Company history</a>
              </li>
              <li class="wow fadeUpSm" data-wow-delay=".6s">
                <a class="text-white" href="#">Core values</a>
              </li>
              <li class="wow fadeUpSm" data-wow-delay=".7s">
                <a class="text-white" href="#">FAQ</a>
              </li>
              <li class="wow fadeUpSm" data-wow-delay=".8s">
                <a class="text-white" href="#">Gallery</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-xl-4 col-xxl-3 offset-top-40 offset-lg-top-0">
            <span class="small text-spacing-340 text-white text-uppercase text-bold wow fadeUpSm" data-wow-delay=".1s">CONTACT INFO</span>
            <p class="offset-top-20 wow fadeUpSm" data-wow-delay=".3s">You can always contact us via email or phone. Get in touch with us today to find out more about our services.</p>
            <ul class="list offset-top-20 text-left" style="overflow: hidden;">
              <li class="wow fadeUpSm" data-wow-delay=".5s">
                <div class="unit unit-horizontal unit-spacing-xs">
                  <div class="unit-left">
                    <span class="icon icon-primary fa-map-marker"></span>
                  </div>
                  <div class="unit-body">
                    <a class="text-gray-lighter" href="#">1901 Avenue of the Stars Suite 200 Washington, CA 90067</a>
                  </div>
                </div>
              </li>
              <li class="wow fadeUpSm" data-wow-delay=".6s">
                <div class="unit unit-horizontal unit-spacing-xs">
                  <div class="unit-left">
                    <span class="icon icon-primary fa-phone"></span>
                  </div>
                  <div class="unit-body">
                    <a class="text-gray-lighter" href="callto:#">0968-244-158</a>
                  </div>
                </div>
              </li>
              <li class="wow fadeUpSm" data-wow-delay=".7s">
                <div class="unit unit-horizontal unit-spacing-xs">
                  <div class="unit-left">
                    <span class="icon icon-primary fa-envelope"></span>
                  </div>
                  <div class="unit-body">
                    <a class="text-gray-lighter" href="mailto:#">banhmysv@gmail.com</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-25 bg-gray-base-custom">
      <div class="shell container">
        <p class="small-xs">Copyright
          <span id="copyright-year"></span> All rights reserved by ArchiTex Construction Company .
          <a class="text-white" href="privacy.html">Privacy Policy</a>
        </p>
      </div>
    </section>
  </footer>
</section>