<!-- Classic Breadcrumbs-->
<section class="breadcrumb-classic">
  <div class="rd-parallax" style="position: relative; overflow: hidden; z-index: 0; height: 116px;">
    <div class="rd-parallax-inner" style="position: fixed; top: 0px; margin-top: 0px; padding: 0px; width: 812px; transform: translate3d(0px, 55px, 0px);">
      <div class="rd-parallax-layer" data-speed="0.25" data-type="media" data-url="assets/images/breadcrumbs-parallax-03.jpg" style="position: fixed; background-image: url(&quot;assets/images/breadcrumbs-parallax-03.jpg&quot;); height: 234px; transform: translate3d(0px, -13.75px, 0px);"></div>
      <div class="rd-parallax-layer-holder" style="position: relative; height: 116px;">
        <div class="rd-parallax-layer section-top-75 section-md-top-150 section-lg-top-260" data-speed="0" data-type="html" style="position: fixed; width: 812px; transform: translate3d(0px, 0px, 0px);">
          <div class="shell container">
            <ul class="list-breadcrumb">
              <li>
                <a href="index.html">home</a>
              </li>
              <li>Services
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-50 section-md-75 section-md-100 section-lg-120 section-xl-150">
  <div class="shell container">
    <h1>Manager Contact</h1>
    <p style="max-width: 735px;">Tables have always been perfect for displaying facts and numbers. Now you can benefit from using them on your website.</p>
    <div class="row offset-top-40 offset-md-top-50">
      <div class="col-xxl-12">
        <!-- <h2>Hover Row Table</h2> -->
        <p class="offset-top-10">4 different sizes: large, default, middle and small</p>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Company</th>
                <th>E-mail</th>
                <th>Subject</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody *ngIf="listContact">
              <tr *ngFor="let con of listContact | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}; let i = index">
                <th>{{i+1}}</th>
                <!-- <td>{{con.id}}</td> -->
                <td>{{con.name}}</td>
                <td>{{con.company}}</td>
                <td>{{con.email}}</td>
                <td>{{con.subject}}</td>
                <td>{{con.message}}</td>
                <!-- <td>
                  <button (click)="clickPut(con)">get</button>
                </td> -->
                <td>
                  <button class="btnDel btn-danger" (click)="deleteContac(con.id)">Delete</button>
                </td>
                
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" style="color: black">Get Contact Detail</h4>
                        <button type="button" class="close btn" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <form action="">
                          <div class="form-group">
                            <label class="form-control" >{{con.name}}</label>
                          </div>
                          <div class="form-group">
                            <label class="form-control">{{con.company}}</label>
                          </div>
                          <div class="form-group">
                            <label class="form-control">{{con.email}}</label>
                          </div>
                          <div class="form-group">
                            <label class="form-control">{{con.subject}}</label>
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" name="" id="" cols="50" rows="3">{{con.message}}</textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btnClose btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </tbody>

            <tfoot>
              <!-- <tr>
                <td>All</td>
                <td>Description</td>
                <td>Your Total</td>
                <td>$4.00</td>
              </tr> -->
            </tfoot>
          </table>
          <pagination-controls (pageChange)="page = $event" id="1" maxSize="50" directionLinks="true" autoHide="true">
          </pagination-controls>
        </div>

        <!-- <h2>Color Header</h2>
        <div class="table-responsive">
          <table class="table table-header">
            <thead>
              <tr>
                <td>Column 1</td>
                <td>Column 2</td>
                <td>Column 3</td>
                <td>Column 4</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Item #1</td>
                <td>Description</td>
                <td>Subtotal</td>
                <td>$1.00</td>
              </tr>
              <tr>
                <td>Item #2</td>
                <td>Description</td>
                <td>Discount</td>
                <td>$1.00</td>
              </tr>
              <tr>
                <td>Item #3</td>
                <td>Description</td>
                <td>Shipping</td>
                <td>$1.00</td>
              </tr>
              <tr>
                <td>Item #4</td>
                <td>Description</td>
                <td>Tax</td>
                <td>$1.00</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>All</td>
                <td>Description</td>
                <td>Your Total</td>
                <td>$4.00</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <h2>Bordered Table</h2>
        <div class="table-responsive">
          <table class="table table-border">
            <thead>
              <tr>
                <td>Column 1</td>
                <td>Column 2</td>
                <td>Column 3</td>
                <td>Column 4</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Item #1</td>
                <td>Description</td>
                <td>Subtotal</td>
                <td>$1.00</td>
              </tr>
              <tr>
                <td>Item #2</td>
                <td>Description</td>
                <td>Discount</td>
                <td>$1.00</td>
              </tr>
              <tr>
                <td>Item #3</td>
                <td>Description</td>
                <td>Shipping</td>
                <td>$1.00</td>
              </tr>
              <tr>
                <td>Item #4</td>
                <td>Description</td>
                <td>Tax</td>
                <td>$1.00</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>All</td>
                <td>Description</td>
                <td>Your Total</td>
                <td>$4.00</td>
              </tr>
            </tfoot>
          </table>
        </div> -->
      </div>
    </div>
  </div>


</section>