<section class="breadcrumb-classic">
  <div class="rd-parallax">
    <div class="rd-parallax-layer" data-speed="0.25" data-type="media" data-url="assets/images/breadcrumbs-parallax.jpg"></div>
    <div class="rd-parallax-layer section-top-75 section-md-top-150 section-lg-top-260" data-speed="0" data-type="html">
      <div class="shell container">
        <ul class="list-breadcrumb">
          <li>
            <a routerLink="contact" routerLinkActive="active">Contact</a>
          </li>
          <li>
            <a routerLink="project" routerLinkActive="active">Project</a>
          </li>
          <li>
            <a routerLink="department" routerLinkActive="active">Department</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div>
  <router-outlet></router-outlet>
</div>