<!-- Classic Breadcrumbs-->
<section class="breadcrumb-classic">
  <div class="rd-parallax">
    <div class="rd-parallax-layer" data-speed="0.25" data-type="media" data-url="assets/images/breadcrumbs-parallax.jpg"></div>
    <div class="rd-parallax-layer section-top-75 section-md-top-150 section-lg-top-260" data-speed="0" data-type="html">
      <div class="shell container">
        <ul class="list-breadcrumb">
          <li>
            <a href="index.html">home</a>
          </li>
          <li>
            <a href="#">Elements</a>
          </li>
          <li>Forms
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section-75 section-md-100 section-lg-150">
  <div class="shell container row-offset-2">
    <div class="row justify-content-sm-center">
      <div class="col-xl-12 col-lg-8 col-md-10">
        <div class="row">
          <div class="col-xl-7 col-xxl-6">
            <h1>Why Us</h1>
            <h6>We're dedicated to giving you the best service possible by keeping our solutions reliable, long-standing, and
              effective.
            </h6>
            <p>We are a professional and honest construction company with a strong positive reputation within City Building
              Departments, Property Associations, Professional Associations, Subcontractors, Suppliers and most importantly
              our Clients.</p>
            <p>Most of our clients are referred from past customers. Would you refer a contractor to close family and friends
              that you were not happy with?</p>
          </div>
          <div class="col-xl-5 offset-xxl-1 col-xl-bottom align-self-xxl-start">
            <img class="img-responsive" src="assets/images/why-us-01-610x410.jpg" alt="" width="610" height="410">
          </div>
        </div>
        <div class="row align-items-lg-center">
          <div class="col-xl-7 col-xxl-6">
            <h2>Expertise</h2>
            <h6>With 30+ years in the building industry we have the knowledge for various building projects, from new homes,
              large renovations, smaller renovations, to any type of commercial and office buildings.</h6>
            <p>ArchiTex is a self-performing, heavy civil contractor with the resources to handle critically challenging projects
              of any size, location, and complexity. We are strong on integrity and showcase exceptional expertise as we
              deliver projects on time and with the master workmanship.</p>
          </div>
          <div class="col-xl-5 offset-xxl-1">
            <img class="img-responsive" src="assets/images/why-us-02-610x410.jpg" alt="" width="610" height="410">
          </div>
        </div>
        <div class="row align-items-lg-center">
          <div class="col-xl-7 col-xxl-6">
            <h2>Green Construction</h2>
            <h6>Given the demands of today’s facilities and the market trends, ArchiTex green construction solutions present
              a strong opportunity to capture value and cost savings while positively impacting the Earth and community.</h6>
            <p>We are proud of implementing green construction standards of the highest quality. Our staff that is handpicked
              has experience across a range of disciplines, enabling us to complete our projects on time and in accordance
              with budget.</p>
          </div>
          <div class="col-xl-5 offset-xxl-1">
            <img class="img-responsive" src="assets/images/why-us-03-610x410.jpg" alt="" width="610" height="410">
          </div>
        </div>
        <div class="row align-items-lg-center">
          <div class="col-xl-7 col-xxl-6">
            <h2>Technology</h2>
            <h6>We implement the newest technologies in communication and construction giving full transparency to our clients
              about project schedule, change orders, and progress photos.</h6>
            <p>Since our establishment in 1981, our company has been oriented towards innovations and new technologies as well
              as techniques that are time-proved. Even today such an approach allows us to achieve perfect results during
              development of al our projects.</p>
          </div>
          <div class="col-xl-5 offset-xxl-1">
            <img class="img-responsive" src="assets/images/why-us-04-610x410.jpg" alt="" width="610" height="410">
          </div>
        </div>
        <div class="row align-items-lg-center">
          <div class="col-xl-7 col-xxl-6">
            <h2>Safety</h2>
            <h6>ArchiTex is sincerely interested in the safety of our employees, the public, and our operations. We have a Safety
              Program and our employees are continually trained on safety issues.</h6>
            <p>Our health and safety advisors inspect and analyze every construction site we work on to make sure that every
              project is carried out in accordance with safety regulations and all our employees adhere to current safety
              measures. It serves as a key to success for both our employees and project managers.</p>
          </div>
          <div class="col-xl-5 offset-xxl-1">
            <img class="img-responsive" src="assets/images/why-us-05-610x410.jpg" alt="" width="610" height="410">
          </div>
        </div>
        <div class="row align-items-lg-center">
          <div class="col-xl-7 col-xxl-6">
            <h2>Risk Management</h2>
            <h6>Managing risks is vital to successful completion of any construction project we work on. We pay a lot of attention
              to this part of our work. Our risk management department knows how to plan work of our employees risk-free.</h6>
            <p>Construction projects are exposed to risks at the time of their coming into existence. During various stages,
              it must first of all be considered what risks the project manager would like to counter with measures and how
              costly these measures are. In this situation, our risk managers can provide valuable advice to our customers
              and project managers.</p>
          </div>
          <div class="col-xl-5 offset-xxl-1">
            <img class="img-responsive" src="assets/images/why-us-06-610x410.jpg" alt="" width="610" height="410">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>