
<section>
  <div class="swiper-wrap-default">
    <div class="swiper-container swiper-slider" data-height="100vh" data-min-height="300px" data-slide-effect="fade" data-autoplay="false">
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-slide-bg="assets/images/home-01-slide-01.jpg">
          <div class="swiper-slide-caption">
            <div class="shell container">
              <div class="row section-100-vh align-items-sm-center">
                <div class="col-lg-10 col-xxl-8 col-xl-11">
                  <div class="gel-block">
                    <h1 class="text-white fadeInLeftSm animated" data-caption-animate="fadeInLeftSm" data-caption-delay="650">If it`s worth building,
                      <br class="veil reveal-xl-block"> It`s worth building well.
                    </h1>
                    <p class="h6 offset-top-30 text-regent-st-blue" data-caption-animate="fadeInLeftSm" data-caption-delay="850">ArchiTex is the leading construction company on the market. We are trusted
                      <br class="veil reveal-xl-block"> partners of both small and international companies located worldwide.
                    </p>
                    <a class="btn btn-primary offset-top-25 offset-sm-top-55" href="project-single.html" data-caption-animate="fadeInLeftSm"
                      data-caption-delay="1200">learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-slide-bg="assets/images/home-01-slide-02.jpg">
          <div class="swiper-slide-caption">
            <div class="shell container">
              <div class="row section-100-vh align-items-sm-center">
                <div class="col-lg-10 col-xxl-8 col-xl-11">
                  <div class="gel-block">
                    <h1 class="text-white" data-caption-animate="fadeInLeftSm" data-caption-delay="650">Delivering our work safely all over the globe.</h1>
                    <p class="h6 offset-top-30 text-regent-st-blue inset-xl-right-40" data-caption-animate="fadeInLeftSm" data-caption-delay="850">ArchiTex promotes an injury-free environment and provides the safest workplaces
                      <br class="veil reveal-xl-block"> possible for our employees, subcontractors, clients and others who enter our construction sites.
                    </p>
                    <a class="btn btn-primary offset-top-25 offset-sm-top-55" href="project-single.html" data-caption-animate="fadeInLeftSm"
                      data-caption-delay="1200">learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-slide-bg="assets/images/home-01-slide-03.jpg">
          <div class="swiper-slide-caption">
            <div class="shell container">
              <div class="row section-100-vh align-items-sm-center">
                <div class="col-lg-10 col-xxl-8 col-xl-11">
                  <div class="gel-block">
                    <h1 class="text-white" data-caption-animate="fadeInLeftSm" data-caption-delay="650">We are building a brighter future for everyone.</h1>
                    <p class="h6 offset-top-30 text-regent-st-blue" data-caption-animate="fadeInLeftSm" data-caption-delay="850">With the team of experienced professionals, ArchiTex offers multiple solutions to its clients around
                      the world. We deliver high-touch services to help clients with various construction projects.</p>
                    <a class="btn btn-primary offset-top-25 offset-sm-top-55" href="project-single.html" data-caption-animate="fadeInLeftSm"
                      data-caption-delay="1200">learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Swiper Navigation-->
      <div class="swiper-button-prev">
        <span>Prev</span>
      </div>
      <div class="swiper-button-next">
        <span>Next</span>
      </div>
    </div>
    <div class="swiper-left-sidebar">
      <span class="small text-white text-uppercase text-bold text-spacing-340 text-center">CONSTRUCTION AND BUILDING COMPANY</span>
      <div class="divider-custom veil reveal-lg-block"></div>
      <ul class="list text-center">
        <li class="wow fadeIn" data-wow-delay="1.4s">
          <a class="ioon icon-sm icon-white fa-facebook" href="#"></a>
        </li>
        <li class="wow fadeIn" data-wow-delay="1.5s">
          <a class="ioon icon-sm icon-white fa-twitter" href="#"></a>
        </li>
        <li class="wow fadeIn" data-wow-delay="1.6s">
          <a class="ioon icon-sm icon-white fa-google-plus" href="#"></a>
        </li>
        <li class="wow fadeIn" data-wow-delay="1.7s">
          <a class="ioon icon-sm icon-white fa-instagram" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Projects-->
<section class="section-75 section-md-120 section-lg-120 section-xl-top-150 section-lg-bottom-55 section-xl-bottom-150">
  <div class="custom-wrapper">
    <div class="custom-wrapper-left">
      <div class="custom-wrapper-content">
        <div class="divider-block">
          <h2 class="wow animagion" data-wow-delay=".05s">ArchiTex provides nationwide construction services</h2>
          <h6 class="wow animagion" data-wow-delay=".1s">Since our incorporation in 1981, we've grown from a regional organization to a multi-faceted, national presence
            in the industry with headquarters in New York and regional offices in Miami, Washington DC, and Los Angeles.</h6>
          <p class="wow animagion" data-wow-delay=".15">Our roots are based in construction, real estate, investment and development management. Our portfolio includes
            work across industries. Our uniqueness comes from understanding what it is to be the owner, the developer and
            the builder – a trifecta that is evident in the core portfolio of prestigious commercial, corporate and residential
            properties.
          </p>
        </div>
      </div>
    </div>
    <div class="custom-wrapper-right">
      <div class="owl-carousel-custom" data-photo-swipe-gallery="gallery">
        <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="1" data-lg-items="2" data-dots="false" data-stage-padding="0"
          data-loop="true" data-nav="true" data-margin="15px" data-mouse-drag="false" data-dots-speed="800" data-drag-end-speed="800"
          data-nav-speed="700">
          <a class="thumb-custom" data-photo-swipe-item="" data-size="1000x686" href="assets/images/home-01-1000x686-original.jpg"
            data-author="">
            <img class="img-responsive image-first wow animagion" src="assets/images/home-01-485x526.jpg" width="485" height="526" alt=""
              data-wow-delay=".05s">
          </a>
          <a class="thumb-custom" data-photo-swipe-item="" data-size="1000x667" href="assets/images/home-02-1000x667-original.jpg"
            data-author="">
            <img class="img-responsive image-first wow animagion" src="assets/images/home-02-485x526.jpg" width="485" height="526" alt=""
              data-wow-delay=".1s">
          </a>
          <a class="thumb-custom" data-photo-swipe-item="" data-size="532x800" href="assets/images/home-03-532x800-original.jpg" data-author="">
            <img class="img-responsive image-first" src="assets/images/home-03-485x526.jpg" width="485" height="526" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our project-->
<section class="section-top-50 section-lg-0">
  <div class="shell container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 col-xxl-6">
        <div class="divider-block">
          <h2 class="wow animagion" data-wow-delay=".35">Our projects</h2>
          <p class="big text-white wow animagion" data-wow-delay=".7">Our construction company has a long experience of work within numerous commercial, NGO and governmental fields
            and industries…</p>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-carousel-wrap text-center wrap-fluid">
    <div class="heading-absolute wow animagion" data-wow-delay=".8s">Projects</div>
    <div class="owl-carousel" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-xl-items="5" data-stage-padding="0"
      data-loop="true" data-margin="15" data-mouse-drag="true" data-autoplay="false" data-dots="true" data-nav-custom=".owl-custom-navigation">
      <div class="owl-item">
        <div class="product wow fadeUpSm" data-wow-delay=".4s">
          <img class="img-responsive" src="assets/images/home-03-372x500.jpg" alt="" width="372" height="500" />
          <div class="product-content">
            <a class="small" href="project-single.html">Hearst Center</a>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="product wow fadeUpSm" data-wow-delay=".5s">
          <img class="img-responsive" src="assets/images/home-04-372x500.jpg" alt="" width="372" height="500" />
          <a class="product-content" href="project-single.html">
            <div class="small">California Mega Mall</div>
          </a>
        </div>
      </div>
      <div class="owl-item">
        <div class="product wow fadeUpSm" data-wow-delay=".6s">
          <img class="img-responsive" src="assets/images/home-05-372x500.jpg" alt="" width="372" height="500" />
          <a class="product-content" href="project-single.html">
            <div class="small">Eastwood Hotel</div>
          </a>
        </div>
      </div>
      <div class="owl-item">
        <div class="product wow fadeUpSm" data-wow-delay=".7s">
          <img class="img-responsive" src="assets/images/home-06-372x500.jpg" alt="" width="372" height="500" />
          <a class="product-content" href="project-single.html">
            <div class="small">Residential House at Southward St.</div>
          </a>
        </div>
      </div>
      <div class="owl-item">
        <div class="product wow fadeUpSm" data-wow-delay=".8s">
          <img class="img-responsive" src="assets/images/home-07-372x500.jpg" alt="" width="372" height="500" />
          <a class="product-content" href="project-single.html">
            <div class="small">Westwood Child Center</div>
          </a>
        </div>
      </div>
    </div>
    <div class="owl-custom-navigation">
      <div class="owl-nav">
        <div class="owl-prev wow fadeInLeftSm" data-owl-prev data-wow-delay=".8s">Prew</div>
        <div class="owl-next wow fadeInLeftSm" data-owl-next data-wow-delay="1.6s">Next</div>
      </div>
    </div>
  </div>
</section>

<!-- Counters-->
<section class="section-75 section-md-120 section-xl-130">
  <div class="shell container">
    <div class="row text-center">
      <div class="col-lg-3 col-md-6">
        <div class="counter" data-from="100" data-to="597"></div>
        <div class="counter-cite">positive reviews</div>
      </div>
      <div class="col-lg-3 col-md-6 offset-top-40 offset-sm-top-0">
        <div class="counter" data-from="100" data-to="264"></div>
        <div class="counter-cite">Projects</div>
      </div>
      <div class="col-lg-3 col-md-6 offset-top-40 offset-md-top-0">
        <div class="counter" data-from="0" data-to="26"></div>
        <div class="counter-cite">employees</div>
      </div>
      <div class="col-lg-3 col-md-6 offset-top-40 offset-md-top-0">
        <div class="counter" data-from="100" data-to="148"></div>
        <div class="counter-cite">partners</div>
      </div>
    </div>
  </div>
</section>
<!-- Latest News-->
<section class="section-75 section-sm-80 section-md-120 section-xl-150">
  <div class="shell container">
    <div class="divider-block">
      <h2 class="bg-sub-heading">Latest News
        <span class="bg-sub-heading-item wow animagion" data-wow-delay=".7s"> News</span>
      </h2>
    </div>
    <div class="row justify-content-md-center justify-content-lg-start">
      <div class="col-xl-4 col-xxl-3 offset-xxl-1 col-md-6">
        <article class="event event-default">
          <a href="blog-post.html">
            <img class="wow animagion" src="assets/images/home-01-360x260.jpg" width="360" height="260" alt="" data-wow-delay=".15s">
          </a>
          <h5 class="text-primary wow animagion" data-wow-delay=".2s">
            <a href="blog-post.html">Bernard Johnson Coliseum Renovation</a>
          </h5>
          <p class="wow animagion" data-wow-delay=".25s">ArchiTex is helping to modernize this 90,000 sq.ft. structure by making significant upgrades including HVAC system
            replacements.
          </p>
          <time class="text-white wow animagion" datetime="2016" data-wow-delay=".3s">September 1, 2017</time>
        </article>
      </div>
      <div class="col-xl-4 col-xxl-3 offset-xxl-1 col-md-6 offset-top-40 offset-sm-top-0">
        <article class="event event-default">
          <a href="blog-post.html">
            <img class="wow animagion" src="assets/images/home-02-360x260.jpg" width="360" height="260" alt="" data-wow-delay=".15s">
          </a>
          <h5 class="text-primary wow animagion" data-wow-delay=".2s">
            <a href="blog-post.html">Capitol Wright Distribution Warehouse</a>
          </h5>
          <p class="wow animagion" data-wow-delay=".25s">Construction on the Capitol Wright Distribution Warehouse is underway. This will be a 438,000 sq.ft. corporate
            office and distribution warehouse.</p>
          <time class="text-white wow animagion" datetime="2016" data-wow-delay=".3s">May 3, 2017</time>
        </article>
      </div>
      <div class="col-xl-4 col-xxl-3 offset-xxl-1 col-md-6 offset-top-40 offset-lg-top-0">
        <article class="event event-default">
          <a href="blog-post.html">
            <img class="wow animagion" src="assets/images/home-03-360x260.jpg" width="360" height="260" alt="" data-wow-delay=".15s">
          </a>
          <h5 class="text-primary wow animagion" data-wow-delay=".2s">
            <a href="blog-post.html">The Restored Texas Governor's Mansion</a>
          </h5>
          <p class="wow animagion" data-wow-delay=".25s">Governor Abbott expressed his appreciation to ArchiTex and others involved in restoring the historic Texas Governor's
            Mansion.
          </p>
          <time class="text-white wow animagion" datetime="2016" data-wow-delay=".3s">September 15, 2017</time>
        </article>
      </div>
      <div class="col-sm-12"></div>
    </div>
  </div>
</section>
<section class="section-75 section-sm-80 section-md-120 section-xl-150 bg-gray-darker-custom-left bg-gray-darker">
  <div class="shell container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 col-xxl-6">
        <div class="divider-block">
          <h2 class="wow animagion" data-wow-delay=".1s">Services</h2>
          <p class="big wow animagion" data-wow-delay=".15s">At ArchiTex, you can experience a variety of high-quality construction services provided by skilled professionals.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-4 col-xxl-3 offset-xxl-1" style="overflow: hidden;">
        <span class="icon-sprite sprite-home-icon-01 wow animagionBottom" data-wow-delay=".1s"></span>
        <h5 class="wow animagion" data-wow-delay=".2s">
          <a href="single-service.html"> General Contracting</a>
        </h5>
        <p class="wow animagionTop" data-wow-delay=".3s">We have a long list of professional contractors, with whom our engineers and architects enjoy to work on a majority
          of our projects!</p>
      </div>
      <div class="col-md-6 col-xl-4 col-xxl-3 offset-top-50 offset-sm-top-0 offset-xxl-1" style="overflow: hidden;">
        <span class="icon-sprite sprite-home-icon-03 wow animagionBottom" data-wow-delay=".1"></span>
        <h5 class="wow animagion" data-wow-delay=".2s">
          <a class="postfix-xl-right--25" href="single-service.html">Building Information Modeling</a>
        </h5>
        <p class="wow animagionTop" data-wow-delay=".1">We can represent physical and functional essence of any construction project digitally, in a 3D model format, regardless
          of its complexity.</p>
      </div>
      <div class="col-md-6 col-xl-4 col-xxl-3 offset-top-50 offset-lg-top-0 offset-xxl-1" style="overflow: hidden;">
        <span class="icon-sprite sprite-home-icon-02 wow animagionBottom" data-wow-delay=".1s"></span>
        <h5 class="wow animagion" data-wow-delay=".2s">
          <a href="single-service.html"> Design-Build</a>
        </h5>
        <p class="wow animagionTop" data-wow-delay=".3s">Our specialization allows us to design & build any type of project and that’s why we are considered the best on the
          construction market.</p>
      </div>
      <div class="col-md-6 col-xl-4 col-xxl-3 offset-top-50 offset-xxl-1" style="overflow: hidden;">
        <span class="icon-sprite sprite-home-icon-06 wow animagionBottom" data-wow-delay=".2s"></span>
        <h5 class="wow animagion" data-wow-delay=".2s">
          <a href="single-service.html"> Construction Services</a>
        </h5>
        <p class="wow animagionTop" data-wow-delay=".3s">ArchiTex provides high-quality construction services to the energy, water and telecommunications markets.</p>
      </div>
      <div class="col-md-6 col-xl-4 col-xxl-3 offset-top-50 offset-xxl-1" style="overflow: hidden;">
        <span class="icon-sprite sprite-home-icon-05 wow animagionBottom" data-wow-delay=".1"></span>
        <h5 class="wow animagion" data-wow-delay=".2s">
          <a href="single-service.html"> Pre-construction Services</a>
        </h5>
        <p class="wow animagionTop" data-wow-delay=".1">We take our time on initial planning before any construction begins, to balance all the financial and efficiency
          issues beforehand.</p>
      </div>
      <div class="col-md-6 col-xl-4 col-xxl-3 offset-top-50 offset-xxl-1" style="overflow: hidden;">
        <span class="icon-sprite sprite-home-icon-04 wow animagionBottom" data-wow-delay=".1s"></span>
        <h5 class="wow animagion" data-wow-delay=".2s">
          <a href="single-service.html"> Construction Management</a>
        </h5>
        <p class="wow animagionTop" data-wow-delay=".1s">Professional construction project management is essential for facilitating and directing the entire process to achieve
          ideal results.</p>
      </div>
    </div>
  </div>
</section>